* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    padding: 0 10px;
}

.center {
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.center .container {
    width: 458px;
    height: 295px;
    border: 1px solid #628AAD;
}

.container .wrapper {
    padding: 70px 47px 38px 35px;
}

.wrapper .label-row:not(:first-child) {
    margin-top: 10px;
}

.label-row {
    display: flex;
}

.gender-option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.gender-option label {
    margin-left: 10px;
}

.label-row button {
    padding: 8px 0;
    min-width: 86px;
    outline: none;
    background-color: #5B9BD5;
    border: 1px solid #477AA9;
    color: white;
    margin-right: 10px;
}

.label-row input {
    outline: none;
    border: 1px solid #477AA9;
}

.label-row.name input {
    flex: 1;
}

.select-box {
    display: flex;
    position: relative;
}

.arrow-down {
    position: relative;
    cursor: pointer;
}

.arrow-down::after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 32px solid #477AA9;
}

.arrow-down::before {
    content: "";
    position: absolute;
    z-index: 2;
    right: 2px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 29px solid #5B9BD5;
}

.hide {
    display: none;
}

.dropdown {
    position: absolute;
    top: calc(100% + 5px);
    list-style: none;
    width: 100%;
    background-color: white;
    border: 1px solid #477AA9;
    outline: none;
}

.dropdown li:not(:last-child) {
    border-bottom: 1px solid #477AA9;
}

.dropdown li {
    cursor: pointer;
    padding: 5px 10px;
    min-height: 30px;
}

.dropdown li:hover {
    background-color: #477AA9;
    color: #fff;
}

.register {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.register button {
    border: 1px solid #477AA9;
    border-radius: 10px;
    background-color: #70AD47;
    padding: 10px 35px;
    color: white;
}